<html>
    <head>
        <center><h1> Try My Links!</h1></center>
        <title>Andrew's Website</title>
    </head>
    <h1>Links☟</h1>
    <body bgcolor="jcn;asdjnasasdfasddasdfasdsdasfseeefoccddddscasdcccdfasdfasdf">
        <div class="container">
            <a href="/scramble">
                <button class="btn btn-primary btn-lg">Word Scrambler</button>
            </a>
            <a href="/passwordgen">
                <button class="btn btn-primary btn-lg">Password Generator</button>
            </a>
            <a href="https://github.com/AndrewKelton/First-pygame">
                <button class="btn btn-primary btn-lg">Spaceship Shooter</button>
            </a>
            <a href="/setvariable">
                <button class="btn btn-primary btn-lg">Test</button>
            </a>
        </div>
        <h2 style="color: red" >I am working on getting the 'Spaceship Shooter'
        to be accessible without making a gitclone and being accessed thru the server!!
        </h2>
        <h3>The Greatest Song Ever Made ☟</h3>
        <iframe width="400" height="215" src="https://www.youtube.com/embed/fXF59UWr-tA" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>  
        <a href="/upvote"><center>
            <button class="btn btn-primary btn-lg">upvote</button> 
        <a href="/downvote">
            <button class="arrow">downvote</button> 
        </center>
        </a>
    
        <h2><center>votes: {{votes}}</center></h2>
        
    <h2>HTML Image</h2>
    <!-- <img src="../assets/kiera.jpeg"/> -->
    </body>

</html>