<html>
    <div class="container">
        <a href="/home">
            <button class="btn btn-primary btn-lg">Home</button>
        </a>
    </div>
    <head>
        <title>Password Generator</title>
        <body <body bgcolor="jcn;asdjnasasdfasddasdfasdsdasfseeefoccddddscasdcccdfasdfasdf"></body>
        <center> <h3 style="color: red">To create multiple passwords you may need to restart the server!!
            Sometimes it will allow you to make multiple passwords in one session.
            I am working to figure out the problem and will fix it ASAP!!
        If you know what would cause this problem let me know please!!</h3>
        </center>
    </head>
    <body
        <center><h2><label for = "Name">Here you can generate random passwords</label></h2></center>
        <!-- <center><input type="Submit" class = "file_submit" value="Generate Password"></center> -->
        <div class="container">
            <a href="/resultpass">
                <button class="btn btn-primary btn-lg">Generate Password</button>
            </a>
        </div>
    </body>
</html>