<html>
    
    <head>
        <center><h1> Try My Links!</h1></center>
        <title>bgcolor attribute</title>
    </head>
    <h1>Links☟</h1>
    <body bgcolor="jcn;asdjnasasdfasddasdfasdsdasfseeefoccddddscasdcccdfasdfasdf">
        <div class="container">
            <a href="/scramble">
                <button class="btn btn-primary btn-lg">Word Scrambler</button>
            </a>
            <a href="/passwordgen">
                <button class="btn btn-primary btn-lg">Password Generator</button>
            </a>
            <a href="https://github.com/AndrewKelton/First-pygame">
                <button class="btn btn-primary btn-lg">Spaceship Shooter</button>
            </a>
            <a href="/setvariable">
                <button class="btn btn-primary btn-lg">Test</button>
            </a>
        </div>
    </body>
</html>